<li class="card" 
    [attr.card-id]="card._id"
    [attr.card-order]="card.order"
    (click)="showDetail()"
    >
    <div class="edit" (click)="editCard($event)"
        [style.display]="editingCard ? 'none' : ''">
        <i class="fa fa-pencil"></i>
    </div>
    <span [innerHtml]="card.title" [style.display]="editingCard ? 'none' : ''">
    </span>
    <textarea
        [style.display]="editingCard ? '' : 'none' "
        (keydown)="blurOnEnter($event)"
        (blur)="updateCard()"
        [(ngModel)]="card.title" ></textarea>
</li>