<div class="column" >
    <div class="column-header">
        <h4 [innerHtml]="column.title"
            [style.display]="editingColumn ?'none' : '' "
            (click)="editColumn()" ></h4>
        <input  
            [style.display]="editingColumn ?'' : 'none' "
            (blur)="updateColumn()"
            (keyup)="blurOnEnter($event)"
            [(ngModel)]="column.title" />
    </div>
    <ul class="card-list" [attr.column-id]="column.id">
        <li *ngFor="#card of column.cards">
            <gtm-card [card]="card"></gtm-card>
        </li>
    </ul>
        <div class="add-card" 
            (click)="enableAddCard()" >
            <span [style.display]="addingCard ? 'none' : ''" >
                Add a card...
            </span>
            
            <input  
            [style.display]="addingCard ? '' : 'none' "
            [attr.autofocus]="addingCard"
            (keyup)="blurOnEnter($event)"
            (blur)="addCard(column)"
            [(ngModel)]="addCardText" />
        </div>
</div>