
#main {
  min-width: 100%;
  display: flex;
  flex-wrap: nowrap;
  padding: 0 10px 20px;
}

#main > div {
  flex: 0 0 280px;
}

.board-title {
  margin-left: 18px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.board-title span {
  font-size: 18px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  cursor: hand;
}

.board-title input {
    margin: -3px -2px;
    font-size: 18px;
    font-weight: bold;
}

.board-title input:focus, .board-title input:active {
  outline: none;
}

.add-column {
  width: 280px;
  height: 40px;
  border-radius: 3px; 
  width: 270px;
  padding: 0;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  cursor: pointer;
  cursor: hand;
}

.add-column span {
	color: rgba(255,255,255,.7);
	line-height: 40px;
	vertical-align: middle;
	padding: 0 7px;
	font-size: 14px;
  cursor: pointer;
  cursor: hand;
  background-color: #0067A3;
  width: 270px;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 3px;
}

.add-column input {	
  width: 270px;
  height: 40px;
	font-weight: 700;
	border: none;
	line-height: 18px;
	padding: 3px 9px 4px;
  margin: -2px;
  border-radius: 4px;
}

.add-column input:focus, .add-column input:active {
  outline: none;
}